<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confused student phone</title>
</head>
<body bgcolor="#f5f5dc">
<H1 style="color: cornflowerblue; text-align: center">Confused student phone</H1>
<img src ='https://static.whatsapp.net/rsrc.php/v3/yR/r/y8-PTBaP90a.png' alt="whatsapp image"  style="display: block; margin: auto;width="800" height="400">
<br><br>
<a href="{% url 'queryResults' %}" target="">Query Results</a>
<br>

<a href="{% url 'AddApplication' %}" target="">Add Application</a>
<br>
<a href="{% url 'InstallApplication'%}" target="">Install Application</a>
<br>
<a href="{% url 'RemoveApplication' %}" target="">Remove Application</a>
<br><br>
</body>
</html>